<div class="layout-container">

  <!-- user -->
  <span class="derecha layout-user"> Judith Paulina Torres</span>
  <!-- menu -->
  <div class="layout-menu p-col-12 p-md-12 p-lg-12 p-grid">
    <div routerLink="" class="layout-modules p-col-12 p-md-12 p-lg-4">
      <span class="layout-text center p-col-12 p-md-12 p-lg-10">
        USUARIOS
      </span>
      <div class="layout-icons p-col-12 p-md-12 p-lg-2">
        <em class="icon-user center"></em>
      </div>
    </div>
    <div routerLink="cargos" class="layout-modules p-col-12 p-md-12 p-lg-4">
      <span class="layout-text center p-col-12 p-md-12 p-lg-10">
        CARGOS
      </span>
      <div class="layout-icons p-col-12 p-md-12 p-lg-2">
        <em class="icon-charges center"></em>
      </div>
    </div>
    <div routerLink="mercancia" class="layout-modules p-col-12 p-md-12 p-lg-4">
      <span class="layout-text center p-col-12 p-md-12 p-lg-10">
        MERCANCÍA
      </span>
      <div class="layout-icons p-col-12 p-md-12 p-lg-2">
        <em class="icon-commodity center"></em>
      </div>
    </div>
  </div>

  <div class="p-col-12 p-md-12 p-lg-10">
    <router-outlet></router-outlet>
  </div>

</div>
